<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="{{pathCss}}">
    <link rel="stylesheet" href="{{pathCss2}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        {{!-- tu wkładamy wszystko co wylądowało w home.handlebars --}}
        {{{ body }}}
    </div>
    <script>
        //SKRYPT DO OBCINANIA KOŃCÓWEK
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-535854-7']);
        _gaq.push(['_setDomainName', '//localhost:8080']);
        _gaq.push(['_trackPageview']);

        _gaq.push(function() {
            if (!window.history.replaceState) return;
            var cleanSearch = window.location.search
            .replace(/utm_[^&]+&?/g, '')
            .replace(/&$/, '')
            .replace(/^\?$/, '');
            window.history.replaceState({}, '', window.location.pathname + '');
        });

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.src =
            ('https:' == document.location.protocol ? 'http://www' : 'https://www') +
            '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="//fast.wistia.net/labs/fresh-url/v1.js" async></script>
</body>

</html>