<div class="nameColumnResult row">
    <h1>{{title}}</h1>
    <h4>Tutaj możesz dodać dane nowego Kandydata &#128515;</h4>
    <div class="col-12 wiersz1">
        <div class="row kolumna2" id="editUser">
            <div class="persons black col-12 col-md-12">
                <form action="/addedUser" method="get">
                    <div class="col-md-12">
                        <h3>Wprowadź nowe dane aby zaktualizować kandydata</h3>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-outline-secondary saveButton">Zapisz</button>
                    </div>
                    
                    {{!-- <br class="col-md-12"> --}}
                    <div class="opakowanie col-md-6">
                        <label for="imieAdd">Imię:</label>
                        <input type="text" name="imieAdd" id="imieAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="nazwiskoAdd">Nazwisko:</label>
                        <input type="text" name="nazwiskoAdd" id="nazwiskoAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="emailAdd">Email:</label>
                        <input type="text" name="emailAdd" id="emailAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="telefonAdd">Telefon:</label>
                        <input type="tel" name="telefonAdd" pattern="+[0-9]{2} [0-9]{3}-[0-9]{3}-[0-9]{4}" id="telefonAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="miejscowoscAdd">Miejscowość:</label>
                        <input type="text" name="miejscowoscAdd" id="miejscowoscAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="angielskiAdd">Angielski:</label>
                        <input type="text" name="angielskiAdd" id="angielskiAdd" value="Angielski">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="niemieckiAdd">Niemiecki:</label>
                        <input type="text" name="niemieckiAdd" id="niemieckiAdd" value="Niemiecki">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="pozostalejezykiAdd">Pozostałe języki:</label>
                        <input type="text" name="pozostalejezykiAdd" id="pozostalejezykiAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="wiekAdd">Wiek:</label>
                        <input type="number" name="wiekAdd" id="wiekAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="relokacjaAdd">Relokacja "tak"/"nie":</label>
                        <input type="text" name="relokacjaAdd" id="relokacjaAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="doswiadczenieAdd">Doświadczenie w latach:</label>
                        <input type="text" name="doswiadczenieAdd" id="doswiadczenieAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="widelkiAdd">Widełki:</label>
                        <input type="text" name="widelkiAdd" id="widelkiAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="dataKontaktuAdd">Data ostatniego kontaktu:</label>
                        <input type="date" name="dataKontaktuAdd" id="dataKontaktuAdd">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="linkDoProfiluAdd">Linkedin lub Goldenline</label>
                        <input type="url" name="linkDoProfiluAdd" id="linkDoProfiluAdd" value="">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="technologieAdd">Technologie:</label>
                        <input type="text" name="technologieAdd" id="technologieAdd" value="">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="specjalnoscAdd">Specjalność kandydata:</label>
                        <input type="text" name="specjalnoscAdd" id="specjalnoscAdd" value="">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="firmyWspolpracaAdd">Firmy z jakimi kandydat współpracował":</label>
                        <input type="text" name="firmyWspolpracaAdd" id="firmyWspolpracaAdd" value="">
                    </div>
                    <div class="opakowanie col-md-12">
                        <label for="komentarzeAdd">Dopisz komentarz:</label>
                        <textarea type="text" name="komentarzeAdd" id="komentarzeAdd" value=""></textarea>
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="rozmowaTechnicznaAdd">Rozmowa techniczna - wynik</label>
                        <input type="text" name="rozmowaTechnicznaAdd" id="rozmowaTechnicznaAdd" value="">
                    </div>
                    <div class="opakowanie col-md-6">
                        <label for="rozmowaNietechnicznaAdd">Rozmowa nietechiczna wynik</label>
                        <input type="text" name="rozmowaNietechnicznaAdd" id="rozmowaNietechnicznaAdd" value="">
                    </div>
                    <br class="col-md-12">
                    <button type="submit" class="btn btn-outline-secondary saveButton">Zapisz</button>
                </form>
            </div>
            <a class="back_home" href="./downloadData">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>