@mixin persons {
  color: white;
  height: 550px;
  border: 3px dotted rgba(255, 255, 255, 0);
  padding-top: 20px;
  padding-bottom: 10px;
  .info.linkedin {
    white-space: nowrap;
    overflow: hidden;
    p {
      height: 100%;
      display: inline-block;
      margin: 0 0 auto;
      max-width: 200px;
      a {
        text-overflow: ellipsis;
        text-decoration: none;
        height: 100%;
        width: 100%;
      }
    }
  }
  .info:not(.linkedin) {
    p {
      margin: 0 0 auto;
      float: right;
    }
  }
  .name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}
