@import "_variable.scss";
@import "_input.scss";
@import "_inputHoverFocus.scss";
.nameColumnResult {
    h1, h4, h3 {
        text-align: center;
    }
    .wiersz1 {
        #editUser {
            .persons {
                height: auto;
            }
        }
    } 
}
#editUser {
    margin: 0;
    .persons {
        margin: 0 auto;
        width:70%;
        float: none;
        border: 5px dotted white;
        form {
            .opakowanie {
                text-align: center;
                padding: 20px 10px;
                @include inputs;
                @include inputsHoverFocus;
            }
            button {
                @include buttonOnWhite;
                color: white;
                @include buttonFocus;
                // border: 5px solid;
                // border-image-slice: 1;
                // background: var(--gradient) !important;
                // background-clip: text !important;
                // -webkit-background-clip: text !important;
                // -webkit-text-fill-color: transparent !important;
                // border-image-source:  var(--gradient) !important; 
                // text-decoration: none;
                // transition: all 0s ease;
                // &:hover {
                //     background: var(--gradient) !important;
                //     background-clip: none !important;
                //     -webkit-background-clip: none !important;
                //     -webkit-text-fill-color: #fff !important;
                //     box-shadow: #222 1px 0 10px;
                // }
            }
        }
    }
}