@import url("https://fonts.googleapis.com/css2?family=Farro&family=Raleway:wght@500&display=swap");
:root {
  --gradient:  linear-gradient(to top left, #00963f 20%, #018bd3 80%) !important;
  --gradientGreen:  linear-gradient(to top left, rgb(51, 51, 51) 20%, #018bd3 80%) !important;
}

.nameColumnResult h1, .nameColumnResult h4, .nameColumnResult h3 {
  text-align: center;
}

.nameColumnResult .wiersz1 #editUser .persons {
  height: auto;
}

#editUser {
  margin: 0 auto;
  width: 70%;
}

#editUser .persons {
  margin: 0 auto;
  width: 100%;
  border: 5px dotted white;
}

#editUser .persons form .opakowanie {
  text-align: center;
  padding: 20px 10px;
}

#editUser .persons form .opakowanie label {
  font-size: large;
}

#editUser .persons form .opakowanie input, #editUser .persons form .opakowanie select, #editUser .persons form .opakowanie textarea {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: medium;
  outline: 0;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: var(--gradient) !important;
  background-color: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #018bd3 !important;
  -webkit-transition: all 0s ease !important;
  -o-transition: all 0s ease !important;
  -moz-transition: all 0s ease !important;
  transition: all 0s ease !important;
}

#editUser .persons form .opakowanie textarea {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
  resize: vertical;
}

#editUser .persons form .opakowanie input:hover,
#editUser .persons form .opakowanie input:focus,
#editUser .persons form .opakowanie textarea:focus,
#editUser .persons form .opakowanie textarea:hover {
  -webkit-box-shadow: 0px 0px 7px #666 !important;
          box-shadow: 0px 0px 7px #666 !important;
  background-clip: text !important;
  -webkit-text-fill-color: #fafafa !important;
  border: 7px solid #fff !important;
}

#editUser .persons form button {
  height: 50px;
  color: white;
  border-radius: 0;
  font-size: medium;
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-box-shadow: #222 1px 0 10px;
          box-shadow: #222 1px 0 10px;
  -webkit-transition: all 0s ease;
  -o-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
  color: white;
}

#editUser .persons form button:hover {
  color: #018bd3;
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
}

#editUser .persons form button:focus {
  outline: 0;
}

#editUser .persons form ::-webkit-scrollbar {
  width: 15px;
  background-color: #333333;
}

#editUser .persons form ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#editUser .persons form ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(1, 139, 211, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=editUser.css.map */