@import "_variable.scss";
@import "_kolumna1.scss";
@import "_button.scss";
// @import "_opakowanie.scss";
@import "_mixin.scss";
@import "_input.scss";
@import "_persons.scss";
@import "_labelTableCell";
@import "_webkitScrollbar";
@import "_inputHoverFocus.scss";

body {
    height: 100vh;
}
.container-fluid {
    height: 100%;
}

#login {
    height: 100%;
    margin: 0 auto;
    &>div {
        padding: 15% 0;
        height: 100%;
        h1 {
            text-align: center;
        }
        form {
            width: 500px;
            margin: 100px auto;
            text-align: center;
            .loginAndPassword{
                @include inputs;
            }
            button {
                @include button;
                margin-left: 0;
                margin-top: 25px;
                width:50%;
            }
        }
    }
}

