@charset "UTF-8";
:root {
  --gradient:  linear-gradient(to top left, #00963f 20%, #018bd3 80%) !important;
  --gradientGreen:  linear-gradient(to top left, rgb(51, 51, 51) 20%, #018bd3 80%) !important;
}

:root {
  --gradient:  linear-gradient(to top left, #00963f 20%, #018bd3 80%) !important;
  --gradientGreen:  linear-gradient(to top left, rgb(51, 51, 51) 20%, #018bd3 80%) !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: "Lato", sans-serif;
}

.page-header h1 {
  text-align: center;
}

.page-header .upload label {
  position: absolute;
  background-color: #00963f;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header .upload label:hover {
  background-color: #008537;
}

.page-header .upload #file {
  width: 300px;
  padding-left: 27px;
  height: 32px;
  border: 0px;
}

.page-header .upload [type="submit"] {
  margin-top: 5px;
}

.nameColumnResult {
  margin: 0;
}

.nameColumnResult .row {
  margin: 0;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 150px;
  max-width: 150px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons {
  color: white;
  height: 550px;
  border: 3px dotted white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin {
  white-space: nowrap;
  overflow: hidden;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin p {
  height: 100%;
  display: inline-block;
  margin: 0 0 auto;
  max-width: 200px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin p a {
  text-overflow: ellipsis;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info:not(.linkedin) p {
  margin: 0 0 auto;
  float: right;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .name {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.nameColumnResult .wiersz1 .kolumna2 form {
  max-width: 50%;
  display: inline-block;
  padding: 0;
  /* checkbox */
  /* gdy zaznaczony */
}

.nameColumnResult .wiersz1 .kolumna2 form button {
  border: 5px solid;
  margin-left: 50px;
  border-image-slice: 1;
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.nameColumnResult .wiersz1 .kolumna2 form button:hover {
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: #222 1px 0 10px;
          box-shadow: #222 1px 0 10px;
}

.nameColumnResult .wiersz1 .kolumna2 form .btn:focus-within {
  outline: 0 !important;
}

.nameColumnResult .wiersz1 .kolumna2 form input.id {
  height: 41.8px;
  display: block;
  width: 200px;
  outline: 0;
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  border-image-source: var(--gradient) !important;
  -webkit-transition: all .3s ease !important;
  transition: all .3s ease !important;
}

.nameColumnResult .wiersz1 .kolumna2 form [type="checkbox"] {
  height: 41.8px;
  width: 41.8px;
  background: blue;
  margin: 0;
}

.nameColumnResult .wiersz1 .kolumna2 form label {
  margin: 0;
}

.nameColumnResult .wiersz1 .kolumna2 form input[type=checkbox], .nameColumnResult .wiersz1 .kolumna2 form input[type=radio] {
  display: none;
  /* ukrywamy nasz input */
  height: 41.8px;
  width: 41.8px;
}

.nameColumnResult .wiersz1 .kolumna2 form input[type=checkbox] + label, .nameColumnResult .wiersz1 .kolumna2 form input[type=radio] + label {
  position: relative;
  padding-left: 23px;
  /* margines wewnętrzny - trzeba zrobić trochę miejsca dla naszego pola */
  display: block;
}

.nameColumnResult .wiersz1 .kolumna2 form input[type=checkbox] + label:before, .nameColumnResult .wiersz1 .kolumna2 form input[type=radio] + label:before {
  position: absolute;
  content: "";
  display: block;
  /* koniecznie element blokowy, aby móc nadać odpowiednie wymiary */
  width: 41.8px;
  height: 41.8px;
  top: 0;
  /* ustalamy pozycje */
  left: 0;
  cursor: pointer;
  /* dodamy jeszcze odpowiedni kursor */
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transition: all 0 ease;
  border-image-slice: 1;
  background: rgba(0, 0, 0, 0) !important;
  border: 3px solid var(--gradient);
}

.nameColumnResult .wiersz1 .kolumna2 form input[type=checkbox] + label:before {
  border: 4px solid #018bd3;
}

.nameColumnResult .wiersz1 .kolumna2 form input[type=checkbox]:checked + label:before, .nameColumnResult .wiersz1 .kolumna2 form input[type=radio]:checked + label:before {
  background: var(--gradient) !important;
  border: 0px solid #018bd3;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black {
  background-color: #333333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black p {
  color: red;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black .linkedin a {
  color: red;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green {
  background-color: #00963f;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green form button {
  background: var(--gradientGreen) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  border-image-source: var(--gradientGreen) !important;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green form button:hover {
  background: var(--gradientGreen) !important;
  background-clip: text !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: #222 1px 0 10px;
          box-shadow: #222 1px 0 10px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green form input.id {
  border-image-slice: 1;
  background: var(--gradientGreen) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  border-image-source: var(--gradientGreen) !important;
  -webkit-transition: all .3s ease !important;
  transition: all .3s ease !important;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green .info p {
  color: #333333;
  font-weight: bold;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green .linkedin a {
  color: #333333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white {
  background-color: #fff;
  color: #333333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white .info p {
  color: #00963f;
  font-weight: bold;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white .linkedin a {
  color: red;
}

.resultDiv {
  margin: 0;
}

.resultDiv .row {
  margin: 0;
}

.user {
  background-color: #00963f;
}

.user .email {
  width: auto;
}

.user .user_description {
  display: inline-block;
}

.user .user_description .user_name {
  font-size: large;
}
/*# sourceMappingURL=main.css.map */