// reset css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//zmienne
$bialy: #fff;
$ciemno_szary: #333;
$zielony: #00963f;
$niebieski: #018bd3;
$czerwony: red;
$czcionka_lato: "Lato", sans-serif;
$czcionka_releway: "Raleway", sans-serif;

body {
  color: $ciemno_szary;
  font-family: $czcionka_lato;
}

//.page-header
.page-header {
  h1 {
    text-align: center;
  }
  .upload {
    label {
      position: absolute;
      background-color: $zielony;
      border: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:hover {
        background-color: #008537;
      }
    }
    #file {
      width: 300px;
      padding-left: 27px;
      height: 32px;
      border: 0px;
    }
    [type="submit"] {
      margin-top: 5px;
    }
  }
}

//.nameColumnResult
.nameColumnResult {
  margin: 0;
  .row {
    margin: 0;
  }
  .wiersz1 {
    .kolumna1 {
      .dane_osobowe {
        .opakowanie {
          display: flex;
          margin: 5px 0;
          label {
            flex-grow: 1;
            padding-right: 10px;
          }
          input {
            flex-grow: 1;
            min-width: 150px;
            max-width: 150px;
          }
        }
      }
    }
    .kolumna2 {
      .persons {
        color: white;
        height:500px;
        border: 3px dotted white;
        padding-top: 20px;
        padding-bottom: 10px;
        
        .info.linkedin {
          white-space: nowrap;
          
          overflow: hidden;
          p{
            height: 100%;
            display:inline-block;
            
            margin: 0 0 auto;
            
          
            max-width: 200px;
            a {
              text-overflow: ellipsis;
              text-decoration: none;
              //display: block;
              height:100%;
              width:100%;
            }
          }
        }
        .info:not(.linkedin) {
          p {
            margin: 0 0 auto;
            float: right;
          }
        }
        .name {
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .persons.black {
        background-color: $ciemno_szary;
        p {color: $czerwony;}
        .linkedin {
          a {
            color:red;
          }
        }
      }
      .persons.green {
        background-color: $zielony;
        .info{
          p {
            color: $ciemno_szary;
            font-weight: bold;
          }
        }
        .linkedin {
          a {
            color: $ciemno_szary;
          }
        }
      }
      .persons.white {
        background-color: $bialy;
        color: $ciemno_szary;
        .info{
          p {
            color: $zielony;
            font-weight: bold;
          }
        }
        .linkedin {
          a {
            color: $czerwony;
          }
        }
      }
    }
  }
}

//.resultDiv
.resultDiv {
  margin: 0;
  .row {
    margin: 0;
  }
}
.user {
  background-color: $zielony;
  .email {
    width: auto;
  }
  .user_description {
    display: inline-block;
    .user_name {
      font-size: large;
    }
  }
}
