* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: "Lato", sans-serif;
}

.page-header h1 {
  text-align: center;
}

.page-header .upload label {
  position: absolute;
  background-color: #00963f;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header .upload label:hover {
  background-color: #008537;
}

.page-header .upload #file {
  width: 300px;
  padding-left: 27px;
  height: 32px;
  border: 0px;
}

.page-header .upload [type="submit"] {
  margin-top: 5px;
}

.nameColumnResult {
  margin: 0;
}

.nameColumnResult .row {
  margin: 0;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 10px;
}

.nameColumnResult .wiersz1 .kolumna1 .dane_osobowe .opakowanie input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 150px;
  max-width: 150px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons {
  color: white;
  height: 500px;
  border: 3px dotted white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin {
  white-space: nowrap;
  overflow: hidden;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin p {
  height: 100%;
  display: inline-block;
  margin: 0 0 auto;
  max-width: 200px;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info.linkedin p a {
  text-overflow: ellipsis;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .info:not(.linkedin) p {
  margin: 0 0 auto;
  float: right;
}

.nameColumnResult .wiersz1 .kolumna2 .persons .name {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black {
  background-color: #333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black p {
  color: red;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.black .linkedin a {
  color: red;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green {
  background-color: #00963f;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green .info p {
  color: #333;
  font-weight: bold;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.green .linkedin a {
  color: #333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white {
  background-color: #fff;
  color: #333;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white .info p {
  color: #00963f;
  font-weight: bold;
}

.nameColumnResult .wiersz1 .kolumna2 .persons.white .linkedin a {
  color: red;
}

.resultDiv {
  margin: 0;
}

.resultDiv .row {
  margin: 0;
}

.user {
  background-color: #00963f;
}

.user .email {
  width: auto;
}

.user .user_description {
  display: inline-block;
}

.user .user_description .user_name {
  font-size: large;
}
/*# sourceMappingURL=main.css.map */