// IMPORT ZMIENNYCH
@import "_variable.scss";
@import "_kolumna1.scss";

@import "_button.scss";
@import "_opakowanie.scss";
@import "_mixin.scss";
@import "_input.scss";
@import "_persons.scss";


@import "_inputHoverFocus.scss";

// reset css
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $ciemno_szary;
  font-family: $czcionka_lato;
  background-image: url("../Images/large_leather/large_leather/large_leather.png");
}

//.page-header
.page-header {
  h1 {
    text-align: center;
  }
  .upload {
    label {
      position: absolute;
      background-color: $zielony;
      border: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:hover {
        background-color: #008537;
      }
    }
    #file {
      width: 300px;
      padding-left: 27px;
      height: 32px;
      border: 0px;
    }
    [type="submit"] {
      margin-top: 5px;
    }
  }
}

//.nameColumnResult
.nameColumnResult {
  margin: 0;
  .row {
    margin: 0;
  }
  .wiersz1 {
    .kolumna1 {
      form {
        button {
          @include button;
        }
        .dane_osobowe {
            .opakowanie {
              @include opakowanie;
              @include inputs;
              input {
                transition: all 0s ease !important;
              }
              input:hover, input:focus, input:focus-within {
                font-weight: bold;
                box-shadow: 0px 0px 7px #666 !important;
                background-clip: text !important;
                -webkit-background-clip: none !important;
                border: 5px solid;
                border-image-slice: 1;
              }
            }
        }
        .technologie_doswiadczenie {
          color:black;
        }
        .jezyki {
          @include checkbox1;
          @include inputs;
          .block {
            display:block;
            height:41.8px;
            margin-bottom: 10px;
            .w-50 {
              width: 36%;
              float: left;
            }
            input[type="checkbox"] + label {
              padding-left: 55px;
              height: 41.8px;
            }
            input[type="text"] {
              height:41.8px;
              display:  inline-block;
              width: 100px !important;
              transition: all 0s ease !important;
            }
            input:hover, input:focus, input:focus-within {
              font-weight: bold;
              box-shadow: 0px 0px 7px #666 !important;
              background-clip: text !important;
              -webkit-background-clip: none !important;
              border: 5px solid;
              border-image-slice: 1;
            }
          }
          label {
            display: table-cell !important;
            vertical-align: middle;
            height: 41.8px;
          }
        }
      }
    }
    .kolumna2 {
      .persons {
        @include persons;
      }
      form { 
        position: relative;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        button {
          @include button;//import _button.sscss
        }
        button.saveButton {
          @include saveButton;//import _button.sscss
        }
        .btn:focus-within {
          outline: 0!important;
        }
        input.id {
          height:41.8px;
          display:block;
          width:200px;
          outline: 0;
          border: 5px solid;
          border-image-slice: 1;
          background: var(--gradient) !important;
          background-clip: text !important;
          -webkit-background-clip: text !important;
          border-image-source:  var(--gradient) !important;
          transition: all .3s ease !important;
        }
        [type="checkbox"] {
          @include checkbox;
        }
        @include checkbox1;
      }
      form.colForm{
        width:auto;
        text-align: inherit;
        padding:0 20px 0 0;
      }
      .persons.black {
        background-color: $ciemno_szary;
        p {color: $czerwony;}
        .linkedin {
          a {
            color:red;
          }
        }
      }
      .persons.green {
        background-color: $zielony;
        form {
          button {
            background: var(--gradientGreen) !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            border-image-source:  var(--gradientGreen) !important;
            &:hover {
              background: var(--gradientGreen) !important;
              background-clip: text !important;
              -webkit-background-clip: none !important;
              -webkit-text-fill-color: #fff !important;
              box-shadow: #222 1px 0 10px;
            }
          }
          input.id {
            border-image-slice: 1;
            background: var(--gradientGreen) !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            border-image-source:  var(--gradientGreen) !important;
            transition: all .3s ease !important;
          }
        }
        
        .info{
          p {
            color: $ciemno_szary;
            font-weight: bold;
          }
        }
        .linkedin {
          a {
            color: $ciemno_szary;
          }
        }
      }
      .persons.white {
        background-color: $bialy;
        color: $ciemno_szary;
        .info{
          p {
            color: $zielony;
            font-weight: bold;
          }
        }
        .linkedin {
          a {
            color: $czerwony;
          }
        }
      }
    }
  }
}

//.resultDiv
.resultDiv {
  margin: 0;
  .row {
    margin: 0;
  }
}
.user {
  background-color: $zielony;
  .email {
    width: auto;
  }
  .user_description {
    display: inline-block;
    .user_name {
      font-size: large;
    }
  }
}
